# Whereabout Streets Data Extraction
This notebook will demonstrate how to access Street and Bridge Operations PDF file and extract this data to create a work order plan template.

<div style="text-align:center"><img src="https://upload.wikimedia.org/wikipedia/en/9/94/Closeup_of_pavement_with_grass.JPG" /></div>

## Introduction
The purpose of this notebook is to create a Street and Bridge Work Order plans based on segment IDs and additional comments on long line. Markings feature layers are published in the City of Austin ArcGIS Portal page available for public view as well. 

The schedule for where sealcoat and overlay streets are completed is received through email by Street and Bridge Operations on a daily basis. It is sent as a PDF file that lists weather conditions, temperature, and provides a table of streets where paving is completed.

<b>The only manual process the user will have to do is to:</b>
- Input Segment IDs
- Make comments on long line markings
- Specify MONTH/DAY/YEAR to retrieve the table of completed streets paved for PDF name and file path
- Create any missing markings assets that are not visible in aerial imagery

This process will cut down on the previous process of manually editing a plans layout through copy-pasting imagery and writing Location IDs, work groups, markings found, and the exporting plans one at a time. An excel document will be created based on this input and read segment IDs to find all short line and specialty point markings. This will ideally generate multiple PDF plans in a faster and shorter time frame.

In the future I would like to make this script more customizable and be done seamlessly without inputting Segment IDs and inputting only specific long line markings using the maintained streets feature layer.

## Imports
The packages used for this project are:
- [exchangelib](https://github.com/ecederstrand/exchangelib) to access the attachments sent by Street and Bridge Operations
- [pdfplumber](https://github.com/jsvine/pdfplumber) to extract tables from the whereabouts report
- [pandas](https://pandas.pydata.org/) to create dataframe of extracted table and transform the data
- [openpyxl](https://openpyxl.readthedocs.io/en/stable/) to edit excel files
- [arcgis](https://esri.github.io/arcgis-python-api/apidoc/html/) to search for markings feature layer dataset

In [10]:
from exchangelib import DELEGATE, Account, Credentials, Configuration, FileAttachment, ItemAttachment
import pdfplumber
import pandas as pd
from openpyxl import Workbook,load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows
import tabula

from arcgis.gis import GIS
from arcgis.features import FeatureLayer

from functools import reduce
import numpy as np

## Constants

The date by month and day constant will determine the file pdf name to use as a dataframe. Folder path will determine where the plans will be created depending on the year. This is set to the top for the purpose of changing these constants as needed.

<i>The table below explains the purpose of each constant.</i>

| Constant | Description   |
|:--------:|----|
| <b>MONTH, DAY, YEAR</b> |Date used to find PDF in month-day format and file path based on year|
|<b>FOLDER</b>      |File directory used to import SBO whereabouts reports from email|
|<b>FILE_NAME</b>   |File directory name used to extact SBO whereabouts reports from file|
|<b>SIGN_IN</b>   |Whether to prompt user to sign in to outlook email|
|<b>INPUT</b>|Whether to prompt user to input segment Ids and comments to export to excel|

In [2]:
MONTH,DAY,YEAR = ('May',str(30),str(2019))
FOLDER = (r"G:\ATD\Signs_and_Markings\MARKINGS\Whereabouts WORK ORDERS\{}\Whereabouts_Summary").format(YEAR)
FILE_NAME = "\\".join((FOLDER," ".join((MONTH,DAY))))
EXCEL_FILE = FILE_NAME + ".xlsx"
SIGN_IN = False # Bug in exchangelib because of update
INPUT= True

%store FOLDER
%store EXCEL_FILE

Stored 'FOLDER' (str)
Stored 'EXCEL_FILE' (str)

In [107]:
# received new reporting
# replace pdf plumber with tabula? if no excel
path = FOLDER + '\\' + 'sbo_overlay'
header = ['d','s','Day','WO No.', 'Altref', 'Crew', 'Street', 'From Street', 'To Street', 'Lane Miles']
df = tabula.read_pdf(path + '.pdf', pages='all',multiple_tables=True,stream=True,)

for x in df:
    display(x)

        0        1
0     NaN  Lane Mi
1     NaN    0.797
2  DISTN1    0.514
3    MILL    1.242
4    OVL1   98.216
5   Total  100.769

,0,1,2,3,4,5,6,7,8,9
0,NaN,Day,WO No.,Altref,Crew,On_Street,From_Street,To_Street,Lane Miles from Act,Lane Miles From Act Area
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Length and Act Width,Repair
2,"0, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,WED,SP18-43162,43162,OVL1,CAMP CV,CAMP FIRE TRL,7311,0.203,0.203
4,NaN,NaN,SP18-43164,43164,OVL1,CANTEEN CIR,CAMP FIRE TRL,7309,0.162,0.162
5,NaN,NaN,SP18-43194,43194,OVL1,FIRE CV,CAMP FIRE TRL,7311,0.210,0.210
6,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Oct 6, 2018",0.575,0.575
7,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,0,0.575,0.575
8,", 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,SP19-62520,62520,OVL1,ORLEANS CT,KINGS HWY,5111,0.207,0.207
10,NaN,NaN,SP18-43011,43011,OVL1,CORNISH CIR,2801,WEST GATE BLVD,0.182,0.182
11,NaN,NaN,SP19-62519,62519,OVL1,OAKGLEN DR,MANCHACA RD,2017,0.274,0.274
12,NaN,NaN,SP18-43033,43033,OVL1,LEEDS CV,WEST GATE BLVD,2809,0.149,0.149
13,NaN,NaN,SP18-43035,43035,OVL1,LUTON CV,WEST GATE BLVD,2911,0.161,0.161
14,NaN,THU,SP18-43151,43151,OVL1,BERWYN CIR,BUFFALO PASS,2517,0.265,0.265
15,NaN,NaN,SP18-43084,43084,OVL1,COATBRIDGE DR,BUFFALO PASS,BURNHILL DR,0.431,0.431
16,NaN,NaN,SP18-43150,43150,OVL1,BERRY HILL DR,STASSNEY LN W,WHITESTONE DR,0.263,0.263
17,NaN,NaN,SP19-62669,62669,OVL1,TAHOE TRL,JONES RD,WEST GATE BLVD,0.666,0.666
18,NaN,NaN,SP18-43243,43243,OVL1,SOUTH CENTER ST,GARDEN VILLA LN,1015,0.156,0.156
19,NaN,NaN,SP18-43252,43252,OVL1,TAFFY CT,GARDEN VILLA LN,1009,0.182,0.182
20,NaN,NaN,SP18-43115,43115,OVL1,2ND ST S,DEAD END,SOUTH CENTER ST,0.634,0.634
21,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Oct 13, 2018",3.570,3.570
22,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,1,4.145,4.145
23,"1, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,MON,SP18-43112,43112,OVL1,RAYWOOD DR,WEATHERS LN,BARTON SKWY,0.232,0.232
25,NaN,WED,SP19-62507,62507,OVL1,BANISTER LN,BEN WHITE SVC RD EB W,RICHMOND AVE,1.103,1.103
26,NaN,NaN,SP19-62670,62670,OVL1,TALLISON TER,ALPINE RD W,3611,0.268,0.268
27,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Oct 27, 2018",1.603,1.603
28,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,3,5.748,5.748
29,"8, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,TUE,SP19-62609,62609,OVL1,FONTANA DR,HAVANA ST,SOUTH PARK DR,0.261,0.261

     0           1      2     3              4      5      6
0  NaN  SP19-70253  70253  OVL1      HAVANA ST  0.664  0.664
1  THU  SP19-70255  70255  OVL1     POWELL CIR  0.657  0.657
2  FRI  SP19-70260  70260  OVL1  SOUTH PARK DR  0.047  0.047
3  NaN  SP19-70257  70257  OVL1    LIGHTSEY RD  0.557  0.557

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Nov 3, 2018",2.186,2.186
1,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,4,7.934,7.934
2,"Nov 4, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,THU,SP19-62674,62674,OVL1,TRAVIS HILLS DR,TRAVIS COOK RD,BELL DR,0.246,0.246
4,NaN,NaN,SP19-63334,63334,OVL1,OLD BEE CAVES RD,9200,9217,0.784,0.784
5,NaN,FRI,SP18-43119,43119,OVL1,VEGA AVE,PATTON RANCH RD,WILLIAM CANNON DR W,0.980,0.980
6,NaN,SAT,SP19-63290,63290,OVL1,JESSIE ST,HILLMONT ST,TREADWELL ST,0.737,0.737
7,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Nov 10, 2018",2.747,2.747
8,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,5,10.681,10.681
9,"Nov 11, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,THU,SP19-62622,62622,OVL1,JOSEPHINE ST,BLUFF ST,TREADWELL ST,0.616,0.616
11,NaN,FRI,SP19-70256,70256,OVL1,WILSON ST,NaN,NaN,0.291,0.291
12,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Nov 17, 2018",0.907,0.907
13,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,6,11.588,11.588
14,"Nov 25, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,THU,SP19-43019,43019,OVL1,DYWER AVE,OXFORD AVE,GARNER AVE,0.152,0.152
16,NaN,NaN,SP19-63276,63276,OVL1,CLIFFSIDE DR,TRAILSIDE DR,BRIARGROVE DR,0.362,0.362
17,NaN,FRI,SP18-43107,43107,OVL1,OLD,US HWY 290 SVC RD EB,WESTCREEK DR,0.213,0.213
18,NaN,NaN,NaN,NaN,NaN,FREDERICKSBURG RD,W,NaN,NaN,NaN
19,NaN,SAT,SP19-62653,62653,OVL1,ROCK TERRACE DR,BARTON SKWY,MATTERHORN LN,0.371,0.371
20,NaN,NaN,SP19-62624,62624,OVL1,KASSARINE PASS,FOUR OAKS LN,MOUNTAIN VIEW DR,0.801,0.801
21,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Dec 1, 2018",1.899,1.899
22,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,8,13.487,13.487
23,"Dec 2, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

,0,1,2,3,4,5,6,7,8
0,MON,SP19-62641,62641,OVL1,OAK BLVD,OAK BLVD E,US HWY 290 SVC RD WB W,0.217,0.217
1,WED,SP19-62625,62625,OVL1,KATHY CV,2401,2417,0.392,0.392
2,NaN,SP19-62639,62639,OVL1,MOUNTAIN VIEW DR,KATHY CV,BARTON HILLS DR,0.740,0.740

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Dec 8, 2018",1.349,1.349
1,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,9,14.836,14.836
2,MON,SP19-63303,63303,OVL1,MEADOWRIDGE DR,ANN ARBOR AVE,BLUEBONNET LN,0.338,0.338
3,NaN,SP18-43138,43138,OVL1,ANN ARBOR AVE,RUNDELL PL,RABB GLEN ST,0.830,0.830
4,NaN,SP19-63273,63273,OVL1,ANN ARBOR AVE,RABB GLEN ST,DE VERNE ST,0.116,0.116
5,NaN,SP19-62647,62647,OVL1,RABB GLEN ST,BLUEBONNET LN,ANN ARBOR AVE,0.317,0.317
6,TUE,SP19-62602,62602,OVL1,CEDARVIEW DR,BARTON SKWY,OAKLANE DR,0.344,0.344
7,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Dec 15, 2018",1.945,1.945
8,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,10,16.781,16.781
9,MON,SP18-43015,43015,OVL1,DANA CV,2501,SPYGLASS DR,0.190,0.190
10,NaN,SP18-43195,43195,OVL1,FLORA CV,2501,SPYGLASS DR,0.193,0.193
11,WED,SP19-62606,62606,OVL1,DICKSON DR,LAMAR BLVD S,2207,0.458,0.458
12,NaN,SP19-62627,62627,OVL1,LA CASA DR,LAMAR BLVD S,ANN ARBOR AVE,0.144,0.144
13,THU,SP19-62596,62596,OVL1,BLUE CREST DR,GOODRICH AVE,BLUEBONNET LN,0.360,0.360
14,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Dec 22, 2018",1.345,1.345
15,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,11,18.126,18.126
16,WED,SP19-62583,62583,OVL1,3RD ST S,CHRISTOPHER ST,GIBSON ST W,0.500,0.500
17,NaN,SP19-62603,62603,OVL1,CHRISTOPHER ST,3RD ST S,BOULDIN AVE,0.214,0.214
18,NaN,SP18-43266,43266,OVL1,GIBSON ST W,5TH ST S,6TH ST S,0.164,0.164
19,THU,SP19-63293,63293,OVL1,JUANITA ST,801,4TH ST S,0.071,0.071
20,NaN,SP18-42419,42419,OVL1,FOREST AVE,Oltorf St W,Fletcher St,0.262,0.262
21,NaN,SP18-43267,43267,OVL1,MILTON ST W,CONGRESS AVE S,EVA ST,0.165,0.165
22,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Jan 12, 2019",1.376,1.376

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,14,19.502,19.502
1,"3, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,MON,SP19-62506,62506,OVL1,AMETHYST TRL,WANDER LN,STOUT OAK TRL,0.336,0.336
3,NaN,NaN,SP19-63314,63314,OVL1,ROBIN RIDGE LN,MISSEL THRUSH DR,OLD STAGE TRL,0.181,0.181
4,NaN,WED,SP18-43209,43209,OVL1,LINDELL AVE,LIVE OAK ST W,2225,0.308,0.308
5,NaN,NaN,SP18-43145,43145,OVL1,BARTLETT ST,CONGRESS AVE S,EUCLID AVE,0.258,0.258
6,NaN,THU,SP19-63289,63289,OVL1,HOSTA CV,10101,MEDALLION LN,0.171,0.171
7,NaN,NaN,SP19-62637,62637,OVL1,MEDALLION LN,SWAN DR,11628,0.309,0.309
8,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Jan 19, 2019",1.563,1.563
9,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,15,21.065,21.065
10,"0, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,TUE,SP19-62607,62607,OVL1,DORSETT RD,BROWN BARK PL,HAWKHAVEN LN,0.813,0.813
12,NaN,WED,SP19-62646,62646,OVL1,Q RANCH RD,DANWOOD DR,JOLLYVILLE RD,0.696,0.696
13,NaN,THU,SP19-62621,62621,DISTN1,JESSICA LN,WEST COW PATH,5400,0.136,0.136
14,NaN,SAT,SP18-43013,43013,OVL1,CROWNCREST DR,CEBERRY DR,CARDIN DR,0.575,0.575
15,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Jan 26, 2019",2.220,2.220
16,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,16,23.285,23.285
17,"7, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,MON,SP18-43167,43167,OVL1,CEBERRY DR,FOREST MESA DR,HILLRISE DR,0.875,0.875
19,NaN,NaN,SP18-43078,43078,OVL1,HOWARD LN W,TURBINE DR,SCOFIELD RIDGE PKWY,0.287,0.287
20,NaN,THU,SP19-62511,62511,OVL1,CARDINAL LOOP,STATE HWY 71 SVC RD,2464,1.338,1.338
21,NaN,NaN,NaN,NaN,NaN,NaN,WB E,NaN,NaN,NaN
22,NaN,NaN,SP19-62523,62523,OVL1,SHAPARD LN,CARDINAL LOOP,FLOW LN,0.576,0.576
23,NaN,FRI,SP19-43057,43057,OVL1,SPIRIT OF TEXAS DR,HILLCREST FARMS RD,STATE HWY 71 SVC RD,0.863,0.863
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WB E,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Feb 2, 2019",3.939,3.939
26,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,17,27.224,27.224
27,", 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,MON,SP19-63294,63294,OVL1,KEN ST,LAMAR BLVD N,CRIPPLE CREEK DR,0.648,0.648
29,NaN,NaN,SP19-62592,62592,OVL1,BENBROOK DR,STILLWOOD LN,WINDING WALK,0.154,0.154
30,NaN,NaN,SP19-62667,62667,OVL1,STILLWOOD LN,ROCKWOOD LN,BENBROOK DR,0.099,0.099

,0,1,2,3,4,5,6,7,8
0,TUE,SP19-62516,62516,OVL1,LOFTON CLIFF DR,BAHAN DR,VIZQUEL LOOP,0.355,0.355
1,WED,SP19-62512,62512,OVL1,GILWELL DR,ROSS RD,BAHAN DR,0.769,0.769

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Feb 9, 2019",2.025,2.025
1,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,18,29.249,29.249
2,THU,SP19-63304,63304,OVL1,MONTOPOLIS DR,RICHARDSON LN,LARCH TER,1.318,1.318
3,FRI,SP19-62618,62618,OVL1,HOGAN AVE,GROVE BLVD,MONTOPOLIS DR,1.231,1.231
4,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Feb 16, 2019",2.549,2.549
5,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,19,31.798,31.798
6,WED,SP19-62608,62608,OVL1,ELFLAND DR,RIVERCREST DR,6709,0.175,0.175
7,NaN,SP18-43062,43062,OVL1,WALNUT CLAY DR,MOUNTAINCLIMB DR,DRY BEND CV,0.271,0.271
8,THU,SP18-43204,43204,OVL1,LAKEVIEW CIR,WESTSLOPE DR,5810,0.208,0.208
9,NaN,SP18-43258,43258,OVL1,Valley Cir,Westlope Dr,5812,0.213,0.213
10,FRI,SP18-43047,43047,OVL1,RIVER WOOD CT,4501,TORTUGA TRL,0.235,0.235
11,NaN,SP18-43225,43225,OVL1,ODESSA LN,TORTUGA TRL,EBY LN,0.221,0.221
12,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Feb 23, 2019",1.323,1.323
13,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,20,33.121,33.121
14,MON,SP18-43040,43040,OVL1,MORAVIAN CV,8000,FOREST MESA DR,0.156,0.156
15,NaN,SP18-43059,43059,OVL1,VALLEYDALE CV,STECK AVE,8206,0.137,0.137
16,NaN,SP18-43029,43029,OVL1,KINGWOOD CV,1801,RIPPLEWOOD DR,0.234,0.234
17,TUE,SP18-43056,43056,OVL1,SILVERPLUME CIR,SILVERWAY DR,7610,0.199,0.199
18,NaN,SP19-62601,62601,OVL1,CASCADE DR,DAUGHERTY ST,GREENHAVEN DR,0.726,0.726
19,WED,SP19-43043,43043,OVL1,PASADENA DR,HARDY DR,BURNET RD,0.658,0.658
20,FRI,SP18-43137,43137,OVL1,ALEGRIA RD,GROVER AVE,WOODROW AVE,0.599,0.599
21,SAT,SP19-62619,62619,OVL1,HUNT TRL,TREADWELL BLVD,GREAT NORTHERN BLVD,0.527,0.527
22,NaN,SP19-62588,62588,OVL1,ADDISON AVE,JOYCE ST,VINE ST,0.578,0.578
23,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Mar 2, 2019",3.814,3.814

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,21,36.935,36.935
1,", 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,MON,SP18-43014,43014,OVL1,CULLEN AVE,GROVER AVE,WOODROW AVE,0.460,0.460
3,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Mar 9, 2019",0.460,0.460
4,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,22,37.395,37.395
5,"0, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,THU,SP19-62615,62615,OVL1,HARRISGLENN DR,12700,13437,3.119,3.119
7,NaN,FRI,SP19-62524,62524,OVL1,SUNNY VALE ST,SUMMIT ST,LOMA DR,0.395,0.395
8,NaN,NaN,SP19-62589,62589,OVL1,ANTLER DR,MATAGORDA ST,FAWN DR,0.185,0.185
9,NaN,SAT,SP19-62683,62683,OVL1,WONSLEY DR W,GEORGIAN DR,219,0.335,0.335
10,NaN,NaN,SP19-62682,62682,OVL1,WONSLEY DR E,GEORGIAN DR,GESSNER DR,0.402,0.402
11,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Mar 16, 2019",4.436,4.436
12,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,23,41.831,41.831
13,"7, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,MON,SP18-43003,43003,OVL1,BRENTWOOD ST,SHIRLEY AVE,GAYLOR ST,0.182,0.182
15,NaN,THU,SP19-39187,39187,OVL1,HARTFORD RD,ENFIELD RD,WINDSOR RD,2.110,2.110
16,NaN,FRI,SP19-62685,62685,OVL1,WOOLDRIDGE DR,PEMBERTON PL,HARRIS BLVD,0.425,0.425
17,NaN,NaN,SP18-43199,43199,OVL1,GASTON AVE,1303,MC CALLUM DR,0.231,0.232
18,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Mar 23, 2019",2.948,2.949
19,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,24,44.779,44.780
20,"4, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,TUE,SP19-62612,62612,OVL1,HARRIS BLVD,WINDSOR RD,PRESTON AVE,1.340,1.340
22,NaN,WED,SP19-62638,62638,OVL1,MERIDEN LN,10TH ST W,12TH ST W,0.358,0.358
23,NaN,NaN,SP19-62575,62575,OVL1,10TH ST W,WINSTED LN,2206,0.338,0.338
24,NaN,THU,SP19-62586,62586,OVL1,46TH ST W,SINCLAIR AVE,SHOALWOOD AVE,0.151,0.151
25,NaN,NaN,SP18-43192,43192,OVL1,EVANS AVE,52ND ST E,53RD ST E,0.214,0.214
26,NaN,FRI,SP19-43184,43184,OVL1,38TH ST E,AIRPORT BLVD,TOWER VIEW CT,0.175,0.175
27,NaN,NaN,SP19-62634,62634,OVL1,MANORWOOD RD,TOWER VIEW CT,38TH 1/2 ST E,0.208,0.208
28,NaN,NaN,SP19-63298,63298,OVL1,MANORWOOD RD,MANOR RD,TOWER VIEW CT,0.064,0.064
29,NaN,SAT,SP19-43109,43109,OVL1,PERSHING DR,DENVER AVE,E M FRANKLIN AVE,0.475,0.475

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Mar 30, 2019",3.323,3.323
1,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,25,48.102,48.103
2,"1, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,MON,SP18-42988,42988,OVL1,PINNACLE RD,SILVER HILL DR,ALLEN RD,0.328,0.328
4,NaN,TUE,SP19-63302,63302,OVL1,MC CALL RD,WINDSOR RD,INDIAN TRL,0.327,0.327
5,NaN,WED,SP19-62633,62633,OVL1,LONGVIEW ST,24TH ST W,2526,0.799,0.799
6,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Apr 6, 2019",1.454,1.454
7,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,26,49.556,49.557
8,", 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,TUE,SP19-62681,62681,OVL1,WINDSOR RD,2300,2310,0.759,0.759
10,NaN,WED,SP19-62514,62514,OVL1,HARMON AVE,43RD ST E,44TH ST E,0.148,0.148
11,NaN,NaN,SP19-62610,62610,OVL1,GRAYSON LN,3800,40TH ST E,0.390,0.390
12,NaN,NaN,SP19-62654,62654,OVL1,ROSEDALE AVE,40TH ST W,41ST ST W,0.216,0.216
13,NaN,THU,SP19-62593,62593,OVL1,BETTY COOK DR,LAKESIDE DR,6616,0.387,0.387
14,NaN,NaN,SP19-62629,62629,OVL1,LAKESIDE TRCE,CAROL ANN DR,LAKESIDE DR,0.069,0.069
15,NaN,FRI,SP19-62628,62628,OVL1,LAKESIDE DR,BETTY COOK DR,CAROL ANN DR,0.850,0.850
16,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Apr 13, 2019",2.819,2.819
17,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,27,52.375,52.376
18,"4, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,MON,SP19-62600,62600,OVL1,CAROL ANN DR,ARNOLD DR,MANOR RD,0.690,0.690
20,NaN,TUE,SP19-62584,62584,OVL1,40TH ST E,AVENUE F,DUVAL ST,0.608,0.608
21,NaN,WED,SP19-63283,63283,OVL1,GENEVA CIR,GENEVA DR,HARTNELL DR,0.366,0.366
22,NaN,THU,SP19-62630,62630,OVL1,LAUREL WOOD DR,DRIFTWOOD DR,6710,0.442,0.442
23,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Apr 20, 2019",2.106,2.106
24,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,28,54.481,54.482
25,"1, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,MON,SP19-62676,62676,OVL1,VERNON AVE,BREEZE WAY,ADALEE AVE,0.226,0.226
27,NaN,NaN,SP19-62587,62587,OVL1,ADALEE AVE,MANOR RD,VERNON AVE,0.110,0.110

,0,1,2,3,4,5,6,7,8,9,10
0,NaN,THU,SP19-43034,43034,OVL1,LINDELL LN,8702,NaN,BLUE BLUFF RD,3.015,3.015
1,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,NaN,"Apr 27, 2019",3.351,3.351
2,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,NaN,29,57.832,57.833
3,"8, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,MON,SP19-62594,62594,OVL1,BLOOR RD,BLUE BLUFF RD,NaN,12500,3.357,3.357
5,NaN,TUE,SP19-62595,62595,OVL1,BLUE BLUFF RD,BLOOR RD,NaN,10421,2.570,2.570
6,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,NaN,"May 4, 2019",5.927,5.927
7,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,NaN,30,63.759,63.760
8,", 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,SP19-62658,62658,OVL1,SAN MARINO DR,3301,NaN,WOODWARD ST,0.547,0.547
10,NaN,THU,SP19-62680,62680,OVL1,WICKSHIRE LN,1800,NaN,2120,0.715,0.715
11,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,NaN,"May 11, 2019",1.262,1.262
12,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,NaN,31,65.021,65.022
13,"2, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,MON,SP19-63329,63329,OVL1,WINCHESTER CT,SUBURBAN DR,NaN,306,0.217,0.217
15,NaN,NaN,SP19-63287,63287,OVL1,HARWAY CT,501,NaN,OLD CASTLE RD,0.226,0.226
16,NaN,TUE,SP19-63280,63280,OVL1,EMERALD FOREST CIR,HILL WOOD DR,NaN,EMERALD FOREST CV,0.338,0.338
17,NaN,NaN,SP19-63324,63324,OVL1,VINSON DR,ORLAND BLVD,NaN,CARDIFF DR,0.397,0.397
18,NaN,FRI,SP19-70263,70263,OVL1,EMERALD FOREST DR,VINSON DR,NaN,STASSNEY LN W,2.456,2.456
19,NaN,NaN,SP19-62510,62510,OVL1,CALAIS CT,5201,NaN,ST GEORGES GREEN,0.235,0.235
20,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,NaN,"May 18, 2019",3.869,3.869
21,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,NaN,32,68.890,68.891
22,"9, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,MON,SP18-43261,43261,NaN,VINELAND DR,40TH ST E,NaN,SCHIEFFER AVE,0.644,0.644
24,NaN,NaN,SP18-43176,43176,OVL1,CRESCENT DR,BROOKVIEW RD,NaN,SCHIEFFER AVE,0.271,0.271
25,NaN,TUE,SP19-62585,62585,OVL1,40TH ST E,BROOKVIEW RD,NaN,AIRPORT BLVD,0.484,0.484
26,NaN,THU,SP19-62505,62505,OVL1,34TH ST E,LAFAYETTE AVE,NaN,HEMLOCK AVE,0.688,0.688
27,NaN,NaN,SP18-43030,43030,OVL1,LAFAYETTE AVE,EDGEWOOD AVE,NaN,CONCORDIA AVE,0.403,0.403

,0,1,2,3,4,5,6,7,8
0,FRI,SP19-62626,62626,OVL1,KERN RAMBLE,FRENCH PL,CONCORDIA AVE,0.512,0.512
1,NaN,SP19-62582,62582,OVL1,37TH ST E,LAFAYETTE,KERN RAMBLE,0.369,0.369

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,Week Ending :,"May 25, 2019",3.371,3.371
1,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,33,72.261,72.262
2,TUE,SP19-62652,62652,OVL1,ROBINSON AVE,CONCORDIA AVE,38TH 1/2 ST E,0.408,0.408
3,THU,SP19-63322,63322,OVL1,SPRINGDALE RD,8108,8495,1.561,1.561
4,NaN,SP19-81369,81369,DISTN1,BRICKFORD CV,DEAD END,WEST GATE BLVD,0.060,0.060
5,FRI,SP19-71280,NaN,OVL1,FRENCH PL,KERN RAMBLE,EDGEWOOD,0.115,0.115
6,NaN,SP18-42979,42979,MILL,9TH ST E,NECHES ST,I 35 SVC RD SB N,0.608,0.608
7,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Jun 1, 2019",2.752,2.752
8,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,34,75.013,75.014
9,MON,SP18-43017,43017,OVL1,DERBY CV,WHELESS LN,6106,0.152,0.152
10,TUE,SP19-62645,62645,OVL1,POQUITO ST,16TH ST E,17TH ST E,0.376,0.376
11,NaN,SP18-43008,43008,DISTN1,CHANNING CIR,2701,WEST GATE BLVD,0.303,0.303
12,WED,SP19-62675,62675,OVL1,TULSA CV,LOYOLA LN,6718,0.417,0.417
13,FRI,SP18-43159,43159,OVL1,BRYAN ST,SWENSON AVE,HARVARD ST,0.159,0.159
14,NaN,SP19-43250,43250,MILL,SWENSON AVE,8TH ST E,PROSPECT AVE,0.634,0.634
15,SAT,SP19-43125,43125,OVL1,WALLER ST,7TH ST E,11TH ST E,0.929,0.929
16,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Jun 8, 2019",2.970,2.970
17,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,35,77.983,77.984
18,TUE,SP18-43187,43187,OVL1,8TH ST E,CHICON ST,PROSPECT AVE,0.675,0.675
19,NaN,SP18-43201,43201,NaN,HARVARD ST,WEBBERVILLE RD,8TH ST E,0.153,0.153
20,WED,SP18-43081,43081,OVL1,CANTERBURY ST,LLANO ST,PLEASANT VALLEY RD N,0.271,0.271
21,THU,SP19-62663,62663,OVL1,SOL WILSON AVE,2535,HARVEY ST,0.698,0.698
22,FRI,SP19-63312,63312,OVL1,RIDGEWAY DR,WEBBERVILLE RD,CREST AVE,0.522,0.522
23,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Jun 15, 2019",2.319,2.319

,0,1,2,3,4,5,6,7,8,9
0,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,36,80.302,80.303
1,"6, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,SP19-62614,62614,OVL1,HARRIS BRANCH PKWY,12300,12351,1.619,1.619
3,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Jun 22, 2019",1.619,1.619
4,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,37,81.921,81.922
5,"3, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,THU,SP19-43077,43077,OVL1,BRAKER LN W,RENEL DR,SWEARINGEN DR,1.861,1.861
7,NaN,SAT,SP19-63282,63282,OVL1,ESTES AVE,1000,PROCK LN,0.338,0.338
8,NaN,NaN,SP19-63311,63311,OVL1,PROCK LN,SARA DR,LOTT AVE,0.358,0.358
9,NaN,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Jun 29, 2019",2.557,2.557
10,NaN,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,38,84.478,84.479
11,", 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,TUE,SP19-74354,NaN,OVL1,MEADOWBROOK DR,Windsor Rd,Bridle Path,1.007,1.007
13,NaN,THU,SP19-63285,63285,OVL1,GROVE BLVD,Fairway St,Riverside Dr E,1.147,1.147
14,NaN,FRI,16-104639,42069,OVL1,Apple Gate Dr E,IH 35 SVC RD NB,Middle Fiskville Rd,0.000,0.000
15,NaN,NaN,16-104642,42072,OVL1,Salem Ln,200' W of Walnut Bend Dr,Walnut Bend Dr,0.000,0.000
16,NaN,NaN,16-104643,42073,OVL1,Applegate Dr E,100' E of Walnut Bend Dr,100' W of Walnut Bend Dr,0.000,0.000
17,NaN,NaN,16-104645,42075,OVL1,Applegate Dr E,200' E of Newport Ave,Dessau Rd,0.000,0.000
18,NaN,NaN,16-135262,40785,OVL1,6TH ST E,PEDERNALES ST,CALLES ST,0.000,0.000
19,NaN,NaN,16-135265,40821,OVL1,CALLES ST,6TH ST E,7TH ST E,0.000,0.000
20,NaN,NaN,16-135269,39099,OVL1,3RD ST E,San Saba St,Tillery Sq,0.000,0.000
21,NaN,NaN,16-165622,40811,OVL1,BRAXTON CV,2401,PARKER LN,0.000,0.000
22,NaN,NaN,16-165623,40822,OVL1,CANDLEWOOD CT,GLEN SPRINGS WAY,2509,0.000,0.000
23,NaN,NaN,16-306404,40769,OVL1,3RD ST S,CUMBERLAND RD,HUERTA ST,0.000,0.000
24,NaN,NaN,16-333749,40901,OVL1,LOCKWOOD CV,NORTH HAMPTON DR,2206,0.000,0.000
25,NaN,NaN,16-333770,40975,OVL1,SWEENEY LN,COVENTRY LN,2912,0.000,0.000
26,NaN,NaN,16-333771,40904,OVL1,MALDON PL,2100,22ND ST E,0.000,0.000
27,NaN,NaN,16-333772,40790,OVL1,ALAMO ST,14TH ST E,16TH ST E,0.000,0.000
28,NaN,NaN,16-333773,40953,OVL1,S L DAVIS AVE,COLETO ST,CHESTNUT AVE,0.000,0.000
29,NaN,NaN,16-333777,40933,OVL1,PROVENCIAL CV,6100,PROVENCIAL DR,0.000,0.000
30,NaN,NaN,16-333778,40934,OVL1,PROVENCIAL DR,REGENCY DR,KING CHARLES DR,0.000,0.000
31,NaN,NaN,16-34953,40940,OVL1,RALEIGH AVE,CHERRY LN,CLEARVIEW DR,0.000,0.000
32,NaN,NaN,16-34992,30887,OVL1,GRANDVIEW ST,31St St W,34Th St W,0.000,0.000
33,NaN,NaN,16-34993,37986,OVL1,SHOAL CREST AVE,28Th 1/2 St W,29Th St W,0.000,0.000

,0,1,2,3,4,5,6,7
0,16-354510,34534,OVL1,GLISSMAN RD,Springdale Rd,Mansell Ave,0.000,0.000
1,16-354513,40941,OVL1,RATHERVUE PL,DUVAL ST,HARRIS PARK AVE,0.000,0.000
2,16-354518,39265,OVL1,ROBBINS PL,Vance Cir,22Nd St W,0.000,0.000
3,16-354519,37936,OVL1,25TH 1/2 ST W,San Gabriel St,Leon St,0.000,0.000
4,16-354523,37977,OVL1,MLK BLVD W,RIO GRANDE,PEARL ST,0.000,0.000
5,16-354524,40892,OVL1,LAUREL CANYON DR,CRESTWAY DR,CRESTWAY DR,0.000,0.000
6,16-354598,42974,OVL1,SUNSET RIDGE,TRAVIS COOK RD,NEW PAVEMENT,0.000,0.000
7,16-370226,40804,OVL1,BIG BEND DR,FAIRVIEW DR,BALCONES DR,0.000,0.000
8,16-370228,42399,OVL1,EVERGREEN CT,HANCOCK DR,5108,0.000,0.000

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Jul 20, 2019",2.154,2.154
1,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,41,86.632,86.633
2,TUE,16-44483,40772,OVL1,43RD ST E,SPEEDWAY,DE (609),0.000,0.000
3,NaN,16-370260,39268,OVL1,ROSEDALE AVE,46TH ST W,48TH ST W,0.000,0.000
4,NaN,16-370259,42092,OVL1,56TH ST E,AVENUE F,AVENUE G,0.000,0.000
5,NaN,16-370258,42270,OVL1,CHESTERFIELD AVE,KOENIG LN W,SKYVIEW RD W,0.000,0.000
6,NaN,16-370233,39234,OVL1,MOUNTAIN LAUREL DR,EXPOSITION BLVD,2809,0.000,0.000
7,NaN,16-370229,39168,OVL1,FAIRVIEW DR,4500,BIG BEND DR,0.000,0.000
8,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Jul 27, 2019",0.000,0.000
9,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,42,86.632,86.633
10,MON,SP19-42970,42970,OVL1,AIRPORT BLVD,MANOR RD,SCHIEFFER AVE,4.097,4.097
11,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Aug 3, 2019",4.097,4.097
12,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,43,90.729,90.730
13,FRI,SP19 - 70196,70196,OVL1,B R REYNOLDS DR,CESAR CHAVEZ ST W,LAMAR BLVD N,0.416,0.000
14,NaN,SP19 - 74361,74361,OVL1,WALL ST,Cross Park Dr,Ferguson Ln,3.843,3.843
15,NaN,NaN,NaN,NaN,NaN,Week Ending :,"Aug 10, 2019",4.259,3.843
16,NaN,NaN,NaN,NaN,NaN,Total at the end of Week,44,94.988,94.573

,0,1,2,3,4,5,6,7,8
0,NaN,SP19 - 74355,74355,OVL1,LAMPLIGHT VILLAGE,W Parmer Ln,Scofield Ridge Blvd,3.905,3.905
1,NaN,NaN,NaN,NaN,AVE,NaN,NaN,NaN,NaN
2,SAT,SP19-62661,62661,OVL1,SHOAL CREEK BLVD,31ST ST W,34TH ST W,0.759,0.759

## Methods
These functions will be used to extract and transform the data into a feasible format.

<i>The table below explains the purpose of each:</i>

| Method | Description   |
|:--------:|----|
|<b>lists_to_df</b> |Converts extracted nested list into a dataframe|
|<b>pdf_table_to_df</b> |Extracts table from PDF and then converts to dataframe|
|<b>input_form</b> |Prompts user to input segment IDs and long line specifications|
|<b>query_df</b>   |Query dataframe by segment IDs|

In [48]:
# Opens PDF to extract table and convert to dataframe
# to fix for reporting
def pdf_table_to_df(columns):
    with pdfplumber.open(FILE_NAME + ".pdf") as pdf:
        pg1 = pdf.pages[0]
        data = pg1.extract_tables(table_settings={})
        pdf.close()
    l = [item for sublist in data for item in sublist]
    l = [[ x for x in y if x != None and x != ''] for y in l] 
    l = [x for x in l if len(x) != 0]
    l = [x for x in l  if x[0] != 'ID#']
    for i in l:
        if i[0].isdigit() == False:
            del i[0]
        del i[len(columns):len(i)]
    df = pd.DataFrame(l,columns=columns)
    return df

# Prompts user to input segment IDs and comments while changing the datafram to include user input
def input_form(df,columns):
    segments, comments = [],[]
    for index,row in df.iterrows():
        location = "{} from {} to {}".format(row["Street"],row["From"],row["To"])
        console = input(location + "\nSegment ID list: ")
        try:
            segments.append(console)
        except ValueError:
            print("Skipping input...")
            segments.append(None)
        comment = input("Comment: ")
        comments.append(comment)
    df['Segment IDs'], df['Comments'] = ([s.replace('\t',',') if s != None else None for s in segments],comments)
    print("\nInput complete.")
    
# Returns query dataframe appended if markings exist in the listed segment IDs
def query_df(fc,index,f,df,df1):
    q = "SEGMENT_ID IN({})".format(df["Segment IDs"][index])
    if q != "SEGMENT_ID IN(N/A)":
        c = fc.query(where=q,return_count_only=True) 
        if c != 0:
            sdf = fc.query(where=q).sdf.filter(items=f)
            sdf["Location ID"] = df["Location ID"][index]
            sdf["Comments"] = df["Comments"][index]
            df1 = df1.append(sdf,sort=True)
    df1['COUNTS'] = 1
    return df1

# Rename markings sp based on domain code
def specialty_markings(df,field):
    if field in df.columns:
        renameList = list(zip(list(df.SPECIALTY_POINT_TYPE),list(df.SPECIALTY_POINT_SUB_TYPE)))
        arrow = ["Through","Left","Right","Left/Right","Left/Right/Through",
                 "Left/Through","Right/Through","U-turn","Lane reduction","Wrong way","Bike"]
        other = ["Green pad", "Green launch pad", "Speed hump marking","Diagonal crosshatch", "Chevron crosshatch"]
        parking = ["Parking 'L'", "Parking 'T'", "Parking stall line", "Handicap symbol"]
        symbol = ["Bike","Shared lane (Sharrow)","Bicyclist","Railroad Crossing (RxR)","Chevron","Pedestrian","Diamond"]
        word = ["Stop","Yield","Ahead","Only","Merge","Ped", "X-ing","Bus Only","Keep Clear","Do Not Block","Ped X-ing"]
        rpm = ['blue','']
        t =['word','arrow','symbol','','','rpm']
        st = [word,arrow,symbol,other,parking,rpm]
        index = 0
        for i in renameList:
            x = list(map(int,list(i)))
            temp = st[x[0] - 1][x[1] - 1] + " " + t[x[0] - 1]
            renameList[index] = temp
            index += 1
        df['SPECIALTY_POINT_TYPE'] = renameList
        return df.drop('SPECIALTY_POINT_SUB_TYPE',axis=1)
    return pd.DataFrame()

# Return dataframe of the listed specifications
def specifications(df,i):
    df["SPECIFICATIONS"] = ''
    for index,row in df.iterrows():
        keys = list(row[i:])
        values = list(df.columns)[i:]
        spec = []
        for k,v in zip(keys,values):
            if k != 'N/A' and k != '' and v != 'WORK GROUPS':
                spec.append('{} {}'.format(int(k),v.lower().replace('_',' ')))
            if row['Comments'] != 'N/A':
                sentence = 'Install {}, '.format(row['Comments']) + ', '.join(word for word in spec)
            else:
                sentence = 'Install ' + ', '.join(word for word in spec)
        df.at[index,'SPECIFICATIONS'] = sentence
    if 'WORK GROUPS' in df.columns:
        df.loc[df.Street != None,'WORK GROUPS'] = df.loc[df.Street != None,'WORK GROUPS'].apply(str)
    return df

# Returns dataframe of markings count and pages
def location_in_df(df,markings_type,workgroup):
    if 'Location ID' in df:
        count = df.groupby(['Location ID',markings_type]).count()[['SEGMENT_ID']].rename(columns={"SEGMENT_ID":'COUNTS'})
        count = count.pivot_table(values='COUNTS',index='Location ID',columns=(markings_type),aggfunc='first').reset_index()
        count[workgroup] = workgroup
        page = df.groupby(['Location ID','SEGMENT_ID','Comments',markings_type]).count()[['COUNTS']]
        page = page.pivot_table(values='COUNTS',index=['Location ID','SEGMENT_ID','Comments'],columns=(col),aggfunc='first')
        return count,page

# Returns dataframe of cover page
def create_cover(cover,sl_count,sp_count,wg):
    cover.loc[cover.Comments != 'N/A', wg[2]] = wg[2]
    cover.loc[cover.Comments == 'N/A', wg[2]] = 'N/A' 
    cover['PAGE'] = 1
    if not sl_count.empty and not sp_count.empty:
        cover = reduce(lambda z,y: pd.merge_ordered(z,y,on='Location ID'), [cover,sl_count,sp_count])
    elif not sl_count.empty or not sp_count.empty:
        count = sl_count if sp_count.empty else sp_count
        wg_remove = 'SPECIALTY MARKINGS' if sp_count.empty else 'SHORTLINE'
        cover = pd.merge_ordered(count,sl_count,on='Location ID')
        wg.remove(wg_remove)
    else:
        cover = specifications(cover,6)
        return cover
    cover = cover.dropna(how='all',subset=list(cover.columns)[6:]).fillna('N/A')
    cover['WORK GROUPS'] = cover[wg].apply(','.join,1).apply(lambda x: [s for s in x.split(',') if s != 'N/A'])
    cover = cover.drop(columns = wg).fillna('N/A')
    cover = specifications(cover,6)
    return cover

# Returns dataframe of pages
def create_pages(pages,sl_page,sp_page):
    if not sl_page.empty and not sp_page.empty:
        pages = pd.merge_ordered(sl_page,sp_page,on=('Location ID','SEGMENT_ID','Comments')).fillna("N/A")
        pages = specifications(pages,3)
        pages = pd.merge_ordered(pages,streets,on=('Location ID','SEGMENT_ID','Comments')).drop(columns='BLOCK')
        pages = pages.sort_values(by=['Location ID','PAGE']).reset_index(drop = True)
    elif not sl_page.empty or not sp_page.empty:
        page = sl_page if sp_page.empty else sp_page
        pages = specifications(page.fillna('N/A'),3)
        pages = pd.merge_ordered(pages,streets,on=('Location ID','SEGMENT_ID','Comments')).sort_values(
            by=['BLOCK','Location ID']).reset_index(drop = True).drop(columns='BLOCK')
        pages = pages.dropna(subset=['SPECIFICATIONS'])
        page = 1
        for index, row in streets.iterrows():
            if index != 0 and (row['Location ID'] != pages['Location ID'][index - 1]):
                page = 2
                pages.at[index,'PAGE'] = page
            else:
                page += 1
                pages.at[index,'PAGE'] = page
    else:
        pages.loc[cover.Street != None,'PAGE'] = 2
    return pages

# Creates worksheet in excel file unless the worksheet already exists
def create_ws(df,sheet_name):
    if sheet_name in wb:
        del wb[sheet_name]
    ws = wb.create_sheet(sheet_name)
    for r in dataframe_to_rows(df, index=False, header=True):
        ws.append(r)
    wb.save(EXCEL_FILE)

## Loading and Transforming Data

### Email Attachment Extraction

Attachments will be extracted from the inbox. The purpose of `getpass` is to prompt the user for a password to login to email. 

Since the attachments have already been exported to the directory file, a sign-in is not required.

In [5]:
import getpass

# Email subject line used for Street and Bridge Whereabouts report
daily_subject = "S&B Whereabouts"

# This will try to prompt the user to input email and password if SIGN_IN is True
try:
    if SIGN_IN:
        email = input("Enter email: ")
        password = getpass.getpass("Enter password: ")
        credentials = Credentials(username = email,password = password)
        config = Configuration(server='outlook.office365.com', credentials=credentials)
        account = Account(primary_smtp_address=email,config=config,autodiscover=False,access_type=DELEGATE)
        print("\nFile attachments below are:")
        for item in account.inbox.filter(subject__contains=daily_subject):
            for attachment in item.attachments:
                if isinstance(attachment, FileAttachment):
                    file_path = "\\".join([FOLDER,attachment.name])
                    with open(file_path, 'wb') as f:
                        f.write(attachment.content)
                    print(file_path)
except:
    print("\nWrong username or password")

### PDF tables to Excel

Now that the PDFs have been extracted and exported to the folder path, the next step is to extract the tables in the PDF and export it as an excel file.

An input form will generate so the user can input Segment ID and comment information for each of the streets listed. The columns list will only take the relevant columns from the extracted table. The `pdfplumber` package will be used to extract tables from the PDF and prompt user to submit data.

The input will be stored as a DataFrame saved to an excel document. If the user already provided input froma  previous session, the dataframe will be set to the excel file document instead.

In [6]:
from pathlib import Path

# Columns of extracted table
columns = ["Location ID", "Street", "From", "To"]

# Will prompt input and export to excel unless the excel file already exists. In that case it will read excel file instead
if Path(EXCEL_FILE).exists():
    df = pd.read_excel(EXCEL_FILE,index_col=0)
    df = df.fillna("N/A")
else:
    if INPUT:
        df = pdf_table_to_df(columns)
        input_form(df,columns)
        df = df.fillna("N/A")
        df.to_excel(EXCEL_FILE,sheet_name=" ".join((MONTH,DAY)))

In [7]:
display(df)

,Location ID,Street,From,To,Segment IDs,Comments
0,62963,HYMEADOW DR,Woodlawn Village Dr,12519,"3194305,2038708,2038719",N/A
1,SG-13247,Pecan Park Blvd,S Lake Line Blvd,Lake Creek Blvd,"3272671,3272712,3272816,3272915,3272705,327278...","turn bays, lane lines, bike lanes"

This file contains a table for the list of streets with the following columns:
- <i>Location ID</i>: unique identifier used for street paving
- <i>Street</i>: main street that is paved
- <i>From</i>: intersecting cross street
- <i>To</i>: intersecting cross street
- <i>Segment IDs</i>: list of segment IDs where street is paved seperated by commas
- <i>Comments</i>: Notes on long line markings

### Feature Layer Data Query

The next task is to find the markings through the list of segment IDs the user has inputted. For this task the `arcgis` package will be useful for extracting the markings available in each segment ID since the dataset is already available publically.

Since the markings datasets are publically available, we can login to ArcGIS Online anonymously. 

Use `client_id` instead of `None` if you wish to log-in through an AGOL federate account. Note that it will prompt user to enter code which can be found by following the instructions. Going through an AGOL federated account is useful if the user wishes to add their own layers as a reference such as [NearMap](https://go.nearmap.com/) aerial imagery. 

It will search through the markings feature layer based on the list of segment IDs provided by the excel file.

In [8]:
# variables used to find and query feature layer in AGOL
gis = GIS("https://austin.maps.arcgis.com/home/index.html")
url = r"https://services.arcgis.com/0L95CJ0VTaxqcmED/arcgis/rest/services/TRANSPORTATION_{}/FeatureServer/0"
sl,sp,streets = (pd.DataFrame(),pd.DataFrame(),pd.DataFrame())

# Columns for data frame. Indexes: df (0), shortline (1-4), specialty point (3 to etc.)
cols = ['SHORT_LINE_TYPE','SEGMENT_ID','SPECIALTY_POINT_TYPE','SPECIALTY_POINT_SUB_TYPE']
s_col = ['LEFT_BLOCK_FROM','RIGHT_BLOCK_FROM','SEGMENT_ID']

for index,row in df.iterrows():
    streets = query_df(FeatureLayer(url.format("street_segment")),index,s_col,df,streets)      
    sl = query_df(FeatureLayer(url.format("markings_short_line")),index,cols[:2],df,sl)
    sp = query_df(FeatureLayer(url.format("markings_specialty_point")),index,cols[1:],df,sp)
sp = specialty_markings(sp,cols[2])

# Order table
streets['BLOCK'] = np.maximum(streets[s_col[0]],streets[s_col[1]])
streets = streets.sort_values(by=['BLOCK','Location ID']).reset_index(drop = True)
streets = streets.rename(columns={'COUNTS':'PAGE'}).drop(s_col[:2],axis=1)

page = 1
for index, row in streets.iterrows():
    if index != 0 and (row['Location ID'] != streets['Location ID'][index - 1]):
        page = 2
        streets.at[index,'PAGE'] = page
    else:
        page += 1
        streets.at[index,'PAGE'] = page

### Plans Table Creation

#### Cover Table

In [49]:
wg = ['SHORT LINE','SPECIALTY MARKINGS','LONGLINE']
sl_count,sl_page = location_in_df(sl,'SHORT_LINE_TYPE',wg[0])
sp_count,sp_page = location_in_df(sp,'SPECIALTY_POINT_TYPE',wg[1])
cover = create_cover(df.copy(),sl_count,sp_count,wg)
pages = create_pages(df.copy(),sl_page,sp_page)

This dataframe lists pavement markings queried by segment IDs with the following columns:
- <i>LOCATION ID</i>: Unique identifier used for street paving
- <i>COMMENTS</i>: Notes on long line markings
- <i>WORK GROUPS</i>: Type of markings work group assigned to work order
- <i>SPECIFICATIONS</i>: Lists all markings that need to be installed on work order.


The dataframe will be saves in an excel sheet for it to be used again to generate the template.

In [50]:
display(cover)
display(pages)

,Location ID,Street,From,To,Segment IDs,Comments,PAGE,CROSSWALK,STOP_LINE,YIELD_LINE,Bicyclist symbol,Bike arrow,Diagonal crosshatch,Left arrow,Left/Through arrow,Only word,Right arrow,Shared lane (Sharrow) symbol,WORK GROUPS,SPECIFICATIONS
0,62963,HYMEADOW DR,Woodlawn Village Dr,12519,"3194305,2038708,2038719",N/A,1,N/A,3.0,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,['SHORT LINE'],"Install 1 page, 3 stop line"
1,SG-13247,Pecan Park Blvd,S Lake Line Blvd,Lake Creek Blvd,"3272671,3272712,3272816,3272915,3272705,327278...","turn bays, lane lines, bike lanes",1,10,13.0,1,9,28,9,21,2,23,13,14,"['SHORT LINE', 'SPECIALTY MARKINGS', 'LONGLINE']","Install turn bays, lane lines, bike lanes, 1 p..."

,Location ID,SEGMENT_ID,Comments,CROSSWALK,STOP_LINE,YIELD_LINE,Bicyclist symbol,Bike arrow,Diagonal crosshatch,Left arrow,Left/Through arrow,Only word,Right arrow,Shared lane (Sharrow) symbol,SPECIFICATIONS,PAGE
0,62963,2038719,N/A,N/A,1,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Install 1 stop line,2
1,62963,2038708,N/A,N/A,1,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Install 1 stop line,3
2,62963,3194305,N/A,N/A,1,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,Install 1 stop line,4
3,SG-13247,3272912,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,4,"Install turn bays, lane lines, bike lanes, 4 s...",2
4,SG-13247,3272907,"turn bays, lane lines, bike lanes",1,1,N/A,1,N/A,N/A,2,N/A,2,2,2,"Install turn bays, lane lines, bike lanes, 1 c...",3
5,SG-13247,3272914,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,4,"Install turn bays, lane lines, bike lanes, 4 s...",4
6,SG-13247,3272909,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,4,"Install turn bays, lane lines, bike lanes, 4 s...",5
7,SG-13247,3272915,"turn bays, lane lines, bike lanes",2,1,N/A,1,1,4,N/A,N/A,1,1,N/A,"Install turn bays, lane lines, bike lanes, 2 c...",6
8,SG-13247,3272910,"turn bays, lane lines, bike lanes",N/A,N/A,1,N/A,N/A,5,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 y...",7
9,SG-13247,2048238,"turn bays, lane lines, bike lanes",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8
10,SG-13247,3272668,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,1,1,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 b...",9
11,SG-13247,3272671,"turn bays, lane lines, bike lanes",2,2,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 2 c...",10
12,SG-13247,3393241,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,1,6,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 b...",11
13,SG-13247,3393238,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,1,4,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 b...",12
14,SG-13247,3506251,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,N/A,2,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 2 b...",13
15,SG-13247,3506211,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,1,1,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 b...",14
16,SG-13247,3393242,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,1,2,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 b...",15
17,SG-13247,3393239,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,N/A,2,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 2 b...",16
18,SG-13247,3272687,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,N/A,1,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 b...",17
19,SG-13247,3272684,"turn bays, lane lines, bike lanes",1,1,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 c...",18
20,SG-13247,3271352,"turn bays, lane lines, bike lanes",N/A,1,N/A,N/A,N/A,N/A,4,N/A,4,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 s...",19
21,SG-13247,3271356,"turn bays, lane lines, bike lanes",N/A,1,N/A,N/A,N/A,N/A,4,N/A,4,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 s...",20
22,SG-13247,3272695,"turn bays, lane lines, bike lanes",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21
23,SG-13247,3272698,"turn bays, lane lines, bike lanes",1,1,N/A,N/A,N/A,N/A,N/A,N/A,1,2,N/A,"Install turn bays, lane lines, bike lanes, 1 c...",22
24,SG-13247,3272705,"turn bays, lane lines, bike lanes",N/A,1,N/A,N/A,1,N/A,4,N/A,2,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 s...",23
25,SG-13247,3272708,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,N/A,1,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 b...",24
26,SG-13247,3272711,"turn bays, lane lines, bike lanes",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25
27,SG-13247,3272714,"turn bays, lane lines, bike lanes",N/A,1,N/A,N/A,N/A,N/A,2,N/A,2,2,N/A,"Install turn bays, lane lines, bike lanes, 1 s...",26
28,SG-13247,3272712,"turn bays, lane lines, bike lanes",1,1,N/A,N/A,N/A,N/A,1,N/A,1,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 c...",27
29,SG-13247,3272715,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,1,1,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 b...",28
30,SG-13247,3272784,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,N/A,1,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 b...",29
31,SG-13247,3272797,"turn bays, lane lines, bike lanes",1,1,N/A,N/A,N/A,N/A,2,N/A,2,2,N/A,"Install turn bays, lane lines, bike lanes, 1 c...",30
32,SG-13247,3272785,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,N/A,1,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 1 b...",31
33,SG-13247,3272798,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,N/A,2,N/A,N/A,N/A,N/A,N/A,N/A,"Install turn bays, lane lines, bike lanes, 2 b...",32
34,SG-13247,3272809,"turn bays, lane lines, bike lanes",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33
35,SG-13247,3272824,"turn bays, lane lines, bike lanes",N/A,N/A,N/A,1,1,N/A,N/A,N/A,1,2,N/A,"Install turn bays, lane lines, bike lanes, 1 b...",34
36,SG-13247,3272816,"turn bays, lane lines, bike lanes",1,1,N/A,N/A,N/A,N/A,2,2,3,2,N/A,"Install turn bays, lane lines, bike lanes, 1 c...",35
37,SG-13247,3272825,"turn bays, lane lines, bike lanes",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36

#### Pages Table

## Create Worksheets of DataFrames

In [10]:
wb = load_workbook(filename = EXCEL_FILE)
create_ws(cover,'Cover')
create_ws(pages,'Pages')

## Generating Whereabouts Plans
To generate whereabout plans, we will have to use the `arcpy` package, which requires Python 2 and ArcMap 10.5. Eventually, this notebook will be able to use `arcpy` in Python 3.

[Click here to access notebook](PlansTemplate.ipynb)

# (Optional) Create Spreadsheet of Completed Streets
This is intended to report on extracted streets generated from the PDFs

In [9]:
import os
import pandas as pd

# Columns of extracted table
columns = ["Location ID", "Street", "From", "To"]
df = pd.DataFrame()

try:
    df.read_excel(FOLDER + "\\SBO Street List.xlsx")
except:
    for foldername,subfolders,files in os.walk(FOLDER):
        for file in files:
            if file.endswith('.pdf'):
                FILE_NAME = "\\".join((FOLDER,file[:-4]))
                df1 = pdf_table_to_df(columns)
                df1["filename"] = file
                df = df.append(df1,sort=True)
    df.to_excel(FOLDER + "\\SBO Street List.xlsx",sheet_name="Report")