# SBO Markings Counts Estimation
The purpose of this notebook is to generate counts of specialty markings in the field per maintenance cycle.

## Imports

In [25]:
import pandas as pd

from arcgis.gis import GIS
from arcgis.features import FeatureLayer

%run C:\Users\Govs\Projects/FeatureLayerDataFrame.py

## Introduction
The first step is to import a gis feature service layer from ArcGIS Online.

In [23]:
gis = GIS("https://austin.maps.arcgis.com/home/index.html", client_id='CrnxPfTcm7Y7ZGl7')

Please sign in to your GIS and paste the code that is obtained below.
If a web browser does not automatically open, please navigate to the URL below yourself instead.
Opening web browser to navigate to: https://austin.maps.arcgis.com/sharing/rest/oauth2/authorize?client_id=CrnxPfTcm7Y7ZGl7&response_type=code&expiration=-1&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob

Enter code obtained on signing in using SAML:  ············································································································································································································································

Import the specilaty points layer and the specialty lines layer.

In [64]:
sp = FeatureLayerDataFrame('markings_specialty_point').sdf
rpm = FeatureLayerDataFrame('markings_specialty_line').sdf
rpm = rpm.fillna({'NUMBER_OF_ASSETS':1})

Group assets by 'CREW_ASSIGNED' and 'Specialty Type'

In [103]:
sp['SUM'] = 1
sp_counts = sp.groupby(['SPECIALTY_POINT_TYPE','CREW_ASSIGNED']).count()[['SUM']].reset_index()
display(sp_counts)

    SPECIALTY_POINT_TYPE CREW_ASSIGNED   SUM
0                    RPM         OTHER    34
1             Ahead word           CBD     4
2             Ahead word         OTHER    36
3             Ahead word        SIGNAL     3
4       Bicyclist symbol          BIKE  3308
..                   ...           ...   ...
102         U-turn arrow        SIGNAL     7
103           X-ing word         OTHER     4
104           X-ing word        SIGNAL     1
105           Yield word         OTHER     3
106           Yield word        SIGNAL     3

[107 rows x 3 columns]

In [105]:
# Variables
repl = ['CURBS','DELINEATORS','CONCRETE_DOMES','RPM_LANE_SEPARATOR']
val = ['Curbs','Delineators','Concrete Domes', 'RPM Lane Separator']

rpm_counts = rpm.replace(repl,val).groupby(['SPECIALTY_LINE_TYPE','CREW_ASSIGNED']).sum()[['NUMBER_OF_ASSETS']].reset_index()
display(rpm_counts)

  SPECIALTY_LINE_TYPE CREW_ASSIGNED  NUMBER_OF_ASSETS
0      Concrete Domes          BIKE            2960.0
1               Curbs         OTHER             260.0
2         Delineators          BIKE              55.0
3         Delineators         OTHER             128.0
4  RPM Lane Separator         OTHER              40.0

## Create final table

In [108]:
sp_counts = sp_counts.rename(columns={'SPECIALTY_POINT_TYPE':'MARKINGS TYPE'})
rpm_counts = rpm_counts.rename(columns={'SPECIALTY_LINE_TYPE':'MARKINGS TYPE','NUMBER_OF_ASSETS':'SUM'})
final = pd.concat([sp_counts,rpm_counts],ignore_index=True,sort=True).rename(
    columns={'CREW_ASSIGNED':'MAINTENANCE TYPE'}).set_index('MARKINGS TYPE')

In [109]:
FOLDER = r'\\coacd.org\dfs\TPSD\ATD\Signs_and_Markings\MISC_PROJECTS\Maintenance_Plan_Signs_and_Markings\SPECIALTY_MARKINGS_MAINTENANCE_PLAN'
writer = pd.ExcelWriter(FOLDER +r'\Specialty_Markings_Counts.xlsx', engine='xlsxwriter')
final.to_excel(writer, sheet_name = 'Markings Counts')
wb = writer.book
ws = writer.sheets['Markings Counts']
ws.set_column('A:D',29)
writer.save()